.pill {
  display: inline-block;
  padding: .3em .6em;
  border-radius: 1em;
  vertical-align: middle;
  margin: 0 .2em;
  line-height: 1;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  font-family: 'Open Sans';
  text-indent: 0;
  //min-width: 2em;

  &__right {
    float:right;
  }
}
